@import url('./fonts.css');
@import url('./variables.css');

/* globals */
body {
  font-family: "mono";
  font-size: 14px;
  line-height: 22px;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--dark);
  margin: 15px 22px 22px 22px;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

h1, h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
  margin-top: 30px;
}

p {
  margin: 0 0 10px 0;
}

.small {
  font-size: 12px;
  line-height: 17px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

blockquote {
  margin: 0 0 10px 0;
  padding-left: 6px;
  border-left: 22px solid;
  color: var(--onion);
}

code {
  background-color: var(--dark);
  color: var(--light);
  padding: 1px 3px 2px 3px;
}

hr {
  border: none;
  margin-bottom: 7px;
  text-align: center;
}

hr::after {
  content: '***';
  letter-spacing: 0.05em;
  color: var(--dark);
}

.divider {
    border-bottom: 1px solid var(--dark);
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--onion);
}

/* images */
img {
  display: block;
  max-width: 100%;
  max-height: var(--max);
  height: auto;
  object-fit: contain;
  object-position: left;
}

/* structure */
header.site-header {
  width: 100%;
}

footer {
  margin-top: 17px;
}

/* posts */
.post {
  position: relative;
}

.post .content {
  padding-top: 15px;
  max-width: var(--max);
}

.post .date {
  position: absolute;
  top: -10px;
  right: 0;
  padding-left: 11px;
  background-color: var(--light);
}

.post .content a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.post .content ul, .post .content ol {
  margin-top: 15px; 
  margin-bottom: 9px;
}

.post .content ul {
  margin-left: 15px;
}

.post .content ul:last-child, .post .content ol:last-child {
  margin-bottom: 15px;
}

.post .content ul:first-child, .post .content ol:first-child {
  margin-top: 0;
}

.post .content ul li {
  list-style: square;
  padding-left: 13px;
}

.post .content ol {
  /* margin-left: 19px; */
  list-style: none;
  counter-reset: num;
}

.post .content ol li {
  counter-increment: num;
}

.post .content ol li::before {
  content: counter(num) ".";
  padding-right: 4px;
  width: 24px;
  display: inline-block;
}

.post .content img {
  margin: 7px 0 22px 0;
}

.post .content p:not(:last-child) img:last-child {
  margin-bottom: 15px;
}

.post .content p:not(:last-child) img+em:last-child {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.post .content p:not(:has(img))+p:has(img) img, .post .content ul+p:has(img) img {
  margin-top: 15px;
}

.post .content p:not(:has(img)):last-child {
  margin-bottom: 15px;
}

/* image caption */
.post .content img+em {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  margin-top: -15px;
  margin-bottom: 17px;
}

/* text post */
.post .content p:not(:has(img))~p:has(>img) img,
.post .content p:not(:has(img))~p:has(>img) img+em {
  width: 516px;
  max-width: calc(100vw - 100px);
  padding-left: 28px;
}

.post .content p:not(:has(img))+p:has(img) img {
  margin-top: 37px;
}

.post .content p+p:has(img)+p:not(:has(img)) {
    margin-top: 37px;
}

.post .content p:has(em)+p:not(:has(img)) {
  margin-top: 32px !important;
}

/* image post */
h1:has(+p img){
  margin-bottom: 15px;
}


/* navigation */
.navigation ul {
  color: rgb(150,150,150);
  display: flex;
  margin: 10px 0;
  gap: 22px;
}

.navigation [aria-current]:not([aria-current="false"]) {
  color: var(--pink);
}

@media screen and (max-width: 660px) {
  img {
    max-height: calc(100vw - 44px);
  }

  .post .content p:has(:not(img))~p:has(>img) img {
    max-height: calc(100vw - 132px);
  }
}